@import "./assets/fonts/poppins.css";

body {
    color: #4B4279;
    background-color: #F7FAFE;
    font-family: 'Poppins Regular';
}

.logo {
    z-index: 100;
}

.card {
    border: none;
    border-radius: 30px;
    box-shadow: 0 6px 26px #EFEFF7;
}

.card-header {
    font-family: "Poppins Medium";
    font-size: 20px;
    background-color: transparent;
    border-bottom: none;
    text-align: center;
    padding: 2rem 0 1rem;
}

.alert {
    border-radius: 10px;
    border: none;
}

.alert.alert-danger {
    background-color: #574B90;
    color: #FD4E71;
}

.alert.alert-success {
    background-color: #E6FFF8;
}

.alert.alert-success .alert-hading {
    color: #26A26B;
}

.alert.alert-info {
    background-color: #FD4E71;
}

.list-group-item {
    border: none
}

.side_detail {
    position: fixed;
    top: 0;
    left: 101%;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    transition: left ease-in-out 0.3s;
}

.side_detail.show {
    left: 0;
    z-index: 99;
}

.side_detail .close {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #5A33E4;
    opacity: 1;
    color: #ffffff;
    padding: 1rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.side_detail .close:hover {
    cursor: pointer;
}

.side_detail .close span {
    background-color: #5A33E4;
}

.side_detail .close span:first-child {
    position: absolute;
    top: 100%;
    left: 0;
    width: 2rem;
    height: 2rem;
}

.side_detail .close span:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    border-top-left-radius: 200%;
}

.side_detail .close span:last-child {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 2rem;
    height: 2rem;
}

.side_detail .close span:last-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    border-bottom-left-radius: 200%;
}

.list-group-item-action {
    color: #4B4279;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    border-radius: 10px;
}

.list-group-item-action:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 100%;
    background-color: #F2F2F2;
}

/* Budget style */
.badge {
    padding: 0.5rem;
    border-radius: 2rem;
}

.badge-primary {
    background-color: #5A33E4;
}

/* Text Classification*/
.text-primary {
    color: #4B4279 !important;
    font-family: "Poppins Medium";
    font-size: 18px;
}

.text-info {
    color: #4B4279 !important;
    font-family: "Poppins Medium";
    font-size: 14px;
}

.text-body {
    font-family: "Poppins Regular";
    font-size: 16px;
    line-height: 26px;
}

.text-secondary {
    color: #6d7278 !important;
    font-family: "Poppins Regular";
    font-size: 14px;
}

/* Back Ground Color*/
.bg-secondary {
    background-color: #F9FCFF !important;
    border: 1px solid #F2F2F2;
}

/* Rounded Borders */
.rounded-3 {
    border-radius: 30px !important;
}

.rounded-1 {
    border-radius: 10px !important;
}