@import "./assets/fonts/poppins.css";

body {
    background-color: #F7FAFE;
    font-family: 'Poppins Regular';
}

.card {
    border: none;
    border-radius: 30px;
    box-shadow: 0 6px 26px #EFEFF7;
}

.card-header {
    font-family: "Poppins Medium";
    font-size: 20px;
    background-color: transparent;
    border-bottom: none;
    text-align: center;
    padding: 2rem 0 1rem;
}

.alert {
    border-radius: 10px;
    border: none;
}

.alert.alert-danger {
    background-color: #574B90;
    color: #FD4E71;
}

.alert.alert-success {
    background-color: #E6FFF8;
}

.alert.alert-success .alert-hading {
    color: #26A26B;
}

.alert.alert-info {
    background-color: #FD4E71;
}