@import "./assets/fonts/poppins.css";

body {
    color: #4B4279;
    background-color: #F7FAFE;
    font-family: 'Poppins Regular';
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

/* scroll-header */

.logo {
    z-index: 100;
}

.logo h4 {
    font-family: 'Poppins Bold';
}

.scroll-header {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #F2F2F2;
    background-color: #ffffff;
    padding: 1rem 0;
    z-index: 99;
    transition: top ease-in 0.3s;
}

.scroll-header.show {
    top: 0;
}

/* end scroll-header */

/* start card design */
.card {
    border: none;
    border-radius: 30px;
    box-shadow: 0 6px 26px #EFEFF7;
}

.card-header {
    font-family: "Poppins Medium";
    font-size: 20px;
    background-color: transparent;
    border-bottom: none;
    text-align: center;
    padding: 2rem 0 1rem;
}

/* end card design */

/* start alert style */

.alert {
    border-radius: 10px;
    border: none;
}

.alert span {
    font-family: "Poppins SemiBold";
    font-size: 14px;
    color: #4B4279;
}

.alert .alert-heading {
    font-family: "Poppins Bold";
    font-size: 22px;
}

.alert.alert-danger {
    background-color: #EEECF9;
}

.alert.alert-danger .alert-heading {
    color: #574B90;
}

.alert.alert-success {
    background-color: #E6FFF8 !important;
}

.alert.alert-success .alert-heading {
    color: #26A26B;
}

.alert.alert-info {
    background-color: #FFF8FA;
}

.alert.alert-info .alert-heading {
    color: #DF0A56;
}

/* end alert style */

/* start button style */

button:focus {
    outline: none;
}

.btn.btn-primary {
    background-color: #5A33E4;
    box-shadow: 0 6px 26px #EFEFF7;
    border: none;
    outline: none;
    border-radius: 5rem;
    padding: 0.5rem;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle { 
    background-color: #5A33E4;
    box-shadow: 0 0px 7px #5A33E4a0;
    outline: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0px 7px #5A33E4a0 !important;
    outline: none !important;
}


.btn.btn-outline-primary {
    background-color: transparent;
    color: #5A33E4;
    box-shadow: none;
    border: 1px solid #5A33E4;
    outline: none;
    border-radius: 5rem;
    padding: 0.5rem;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle { 
    background-color: transparent;
    color: #5A33E4;
    box-shadow: 0 0px 7px #5A33E4a0;
    outline: none;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0px 7px #5A33E4a0 !important;
    outline: none !important;
}

/* end button style */

/* start list style */

.list-group-item {
    border: none
}

.side_detail {
    position: fixed;
    top: 0;
    left: 101%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: left ease-in-out 0.3s;
    overflow-y: auto;
    z-index: 99;
}

.side_detail.show {
    left: 0;
}

.list-group-item-action {
    color: #4B4279;
    border-radius: 10px;
    background-color: transparent;
}

.list-group-item-action > * {
    word-break: break-word;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: white;
    box-shadow: 0 6px 26px #EFEFF7;
}

.list-group-item-action:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 100%;
    background-color: #F2F2F2;
}

.list-group-horizontal {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.list-group-horizontal::-webkit-scrollbar {
    display: none;
}

/* .list-group-horizontal .list-group-item {
    box-shadow: 0 6px 15px #EFEFF7;
    margin: 0 0.5rem 1rem;
    border-radius: 0.75rem !important;
} */

.list-group-item.active {
    border: 2px solid #f65f9c;
    background-color: #ffffff;
    color: #4B4279;
    border-radius: 10px;
}

/* end list style */

/* start filter-sidebar style */

.filter-sidebar .btn.btn-secondary {
    background-color: #ffffff;
    color: #4B4279;
    border-radius: 10rem;
    padding: .5rem 1.5rem;
    border: none;
    box-shadow: 0 6px 26px #EFEFF7 !important;
    outline: none!important;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #ffffff;
    color: #4B4279;
    box-shadow: 0 6px 26px #EFEFF7;
    outline: none;
}

.filter-sidebar .btn-secondary:focus, .filter-sidebar .btn-secondary:hover {
    box-shadow: none !important;
    outline: none;
}

.right.sider {
    position: fixed;
    top: 0;
    right: -410px;
    height: 100%;
    width: 400px;
    max-width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 6px 26px #EFEFF7;
    transition: all  0.3s;
    z-index: 100;
}

@media(max-width: 400px) {
    .right.sider {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.right.sider.show {
    right: 0;
}

.right.sider.has-btn {
    padding-bottom: 4rem !important;
}

.sider .sider-title {
    font-family: 'Poppins SemiBold';
}

.right.sider .sider-header .close {
    position: absolute;
    top: -.25rem;
    right: 1rem;
    cursor: pointer;
    background-color: #5A33E4;
    color: #ffffff;
    opacity: 1;
    padding: 0.5rem;
    border-radius: 100% 50% 50% 100%/75% 69% 69% 75%;
}

.sider-backdrop.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4B4279;
    opacity: 0.1;
    z-index: 99;
}

.sider .sider-header {
    padding: 1rem;
}

.sider .sider-body {
    padding: 1rem;
}

.sider .sider-body.scroll {
    overflow-y: auto;
    height: calc(100% - 4rem);
}

.sider .sider-body .langs-list .list-group-item{
    margin: 0.25rem;
    border-radius: 10px;
}

.sider .sider-body .langs-list .list-group-item-action:not(:last-child)::after{
    display: none;
}

.sider .sider-body .langs-list .list-group-item .langs-title{
    font-size: 0.75rem;
    white-space: nowrap;
}

.sider .sider-body .source-list {
    overflow-y: auto;
    height: 23rem;
    padding: 0 0.5rem;
    transition: height 0.3s;
}

.sider.has-btn .sider-body .source-list {
    height: 18rem;
}

.sider .sider-body .source-list .list-group-item-action {
    margin-top: 0.25rem;
}

.sider .sider-body .source-list .list-group-item-action:not(:last-child)::after {
    bottom: -0.25rem;
}

.sider.right .apply-filter {
    position: fixed;
    bottom: -3rem;
    right: 15px;
    width: 370px;
    z-index: 2;
    transition: bottom 0.3s;
}

@media(max-width: 400px) {
    .sider.right .apply-filter {
        width: calc(100% - 30px);
    }
}

.sider.right .apply-filter.show {
    bottom: 1rem;
}

.sider .cancel-filter {
    position: absolute;
    bottom: 1rem;
    right: 15px;
    opacity: 0;
    width: 370px;
    z-index: 1;
    transition: opacity 0.3s;
}

@media(max-width: 400px) {
    .sider .cancel-filter {
        width: calc(100% - 30px);
    }
}

.sider .cancel-filter.show {
    opacity: 1;
}

/* end filter-sidebar styles */

/* start tag style */

.tag-item {
    display: inline-block;
    border: 2px solid #f65f9c;
    border-radius: 5rem;
    padding: 0 0.5rem;
    margin-right: 0.25rem;
    margin-top: 0.5rem;
    font-family: 'Poppins Regular';
    font-size: 0.95em;
}

.tag-item .close {
    color: #f65f9c;
    cursor: pointer;
    opacity: 1;
}

/* end tag style */

/* start input style */
.form-control {
 outline: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ced4da;
}

.form-control::placeholder {
    color: #6d7278;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-left: none;
}

.input-group-text {
    background-color: #ffffff;
    border-right: none;
}

/* end input style */

/* start slider close style */

.side_detail .close {
    position: fixed;
    top: 50%;
    left: -3rem;
    transform: translateY(-50%);
    background-color: #5A33E4;
    display: none;
    color: #ffffff;
    padding: 1rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: all 0.3s;
    z-index: 1;
}

.side_detail.show .close {
    display: block;
    left: 0;
    opacity: 1;
}

.side_detail .close span {
    background-color: #5A33E4;
}

.side_detail .close span {
    position: absolute;
    left: 0;
    width: 2rem;
    height: 2rem;
}

.side_detail .close span:first-child {
    top: 100%;
}

.side_detail .close span:last-child {
    top: -2rem;
}

.side_detail .close span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
}

.side_detail .close span:first-child:after {
    border-top-left-radius: 200%;
}

.side_detail .close span:last-child:after {
    border-bottom-left-radius: 200%;
}

.side_detail .close:hover {
    cursor: pointer;
}

@media(max-width: 768px) {
    .side_detail .close {
        position: fixed;
        top: calc(100% + 3rem);
        left: 1rem;
        display: block;
        border-radius: 50%;
        box-shadow: 0 6px 26px #F9FCFF;
    }
    
    .side_detail .close span {
        display: none;
    }

    .side_detail.show .close {
        top: calc(100% - 3rem);
        left: 1rem;
        opacity: 1;
    }
}
/* end slider close style  */

/* start budget style */
.badge {
    padding: 0.5rem;
    border-radius: 2rem;
}

.badge-primary {
    background-color: #5A33E4;
}
/* end budget style */

/* start text classification*/
.text-primary {
    color: #4B4279 !important;
    font-family: "Poppins Medium";
    font-size: 18px;
}

.text-info {
    color: #4B4279 !important;
    font-family: "Poppins Medium";
    font-size: 14px;
}

.text-body {
    font-family: "Poppins Regular";
    font-size: 16px;
    line-height: 26px;
}

.text-secondary {
    color: #6d7278 !important;
    font-family: "Poppins Regular";
    font-size: 14px;
}

.text-success {
    color: #6DB324 !important;
}

.text-danger {
    color: #FD4E71 !important;
}
/* end text classification */

/* start background style*/
.bg-secondary {
    background-color: #F9FCFF !important;
    border: 1px solid #F2F2F2;
}

.bg-secondary > * {
    word-break: break-word;
}
/* end background style*/

/* start borders style */
.rounded-3 {
    border-radius: 30px !important;
}

.rounded-1 {
    border-radius: 10px !important;
}

/* end border stylw */



.virus-ill {
    position: fixed;
    bottom: 3rem;
    right: 10rem;
    z-index: -1;
    -webkit-animation: verticalShake 2s infinite alternate;
    animation: verticalShake 2s infinite alternate;
}

@media (max-width: 768px) {
    .virus-ill {
        right: -6rem;
    }
}

/* Animation */

@-webkit-keyframes verticalShake {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes verticalShake {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}